#ul-list {
  margin: auto;
}

.navbar {
  min-height: 40px;
}

.navbar a {
  color: black;
}

.navbar-custom {
  margin-top: 20px;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: black;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: black;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: black;
}

.navbar-custom .navbar-toggler-icon {
  /* ikonka togglera, stroke - kolor*/
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-toggler {
  /*obwódka ikonki toggler*/
  border-color: black;
  border: 2px solid black;
}